* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Fredoka', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Permanent Marker', cursive;
}

/* HEADER */
.page-header {
	background-color: #255EE9;
	padding: 10px;
    font-weight: 700 italic;
}

.page-header [class^='col'] {
    display: flex;
    align-items: center;
    font-weight: 700 italic;
}

/* HEADER */



/* MAIN */

/*section header, 1, 5*/

main section {
    padding: 20px;
    
}

main .col-4 {
	display: flex;
    text-align: left;
    align-items: center;
    flex-wrap: wrap;
    color: black;
    font-size: 20px;
    padding: 20px;
}

.col-12 > h1 {
    text-align: center;
    color: white;
    font-size: 35px;
}

.col-12-2 > h1 {
    text-align: center;
    color: black;
    font-size: 35px;
}

.hero {
	background-image: url(../img/jumbo.png);
    background-size: cover;
}

.col-12 {
	flex-basis: calc((100% / 12) * 12);
}

.buttons {
    padding: 10px;
    align-items: center;
}

.title-section-links {
    display: flex;
	padding: 10px;
    font-weight: 700 italic;
}

a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.button-white-lg {
    text-align: center;
    font-size: 11px;
    background-color: white;
    border-radius: 18px;
    color: black;
    padding: 5px;
    flex-basis: calc((100% / 12) * 4);
}

.button-black-lg {
    text-align: center;
    font-size: 10px;
    background-color: #23272A;
    border-radius: 18px;
    color: white;
    padding: 5px;
    flex-basis: calc((100% / 12) * 6);
}

.button-black-lg > a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.button-white-lg > a {
    color: black;
    text-decoration: none;
    font-size: 15px;
}

#bottom-button {
    color: white;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    background-color: #8EA1E1;
    border-radius: 18px;
    padding: 10px 20px;
    margin-top: 30px;
}


/*section header, 1, 5*/

/*section 2, 3, 4,*/
.col-8 {
	flex-basis: calc((100% / 12) * 8);
}

.col-4 {
	flex-basis: calc((100% / 12) * 4);
}
        /*section 2, 3, 4,*/

        /*section 3*/
.bg-gray {
	background-color: #F6F6F6;
}
.row-reverse {
	flex-direction: row-reverse;
    display: flex;
    flex: wrap;
}

.img-big {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80%;
}


        /*section 3*/
       
/* MAIN */



/* FOOTER */

.col-2 {
	flex-basis: calc((100% / 12) * 2);
}

/* FOOTER */



/* GENERAL RULES */
.justify-between {
	justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}
.container-sm {
	max-width: 600px;
	margin: 0 auto;
}

.mid-section {
    color: black;
    margin: 0 auto;
    text-align: left;
    
}

.row {
    display: flex;
    flex: wrap;
    margin-top: 40px;
    margin-bottom: 40px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

ul {
    display: flex;
    list-style-type: none;
}

li {
    margin-left: 15px;
    margin-right: 15px;
}

.col-12 > p {
    color: white;
    text-align: center;
    margin: 20px;
}

div > p {
    color: black;
    text-align: center;
    margin: 20px; 
}


/* GENERAL RULES */



/* DEBUG */

.debug main .col-8 {
	
}



.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    
}

.row-sparkle {
    position: absolute;
}








.debug main [class^='col-'] {
	min-height: 200px;
	
	
}

.debug .cta-section .col-12 {
	background-color: #228b22;
	min-height: 400px;
}

.debug .page-footer {
	background-color: #23272a;
	padding: 10px;
}

.debug footer [class^='col-'] {
	min-height: 200px;
	padding: 20px;
	border: 2px dashed white;
}

.debug footer .col {
	padding: 20px;
	border: 2px dashed white;
	color: white;
    background-color: #F08080;
}

.debug .page-footer {
	background-color: #23272a;
	padding: 20px;
}

.debug footer .col-4 {
	background-color: #F08080;
}
.debug footer .col-2 {
	background-color: #20B2AA;
}

.col-12 > div {
    display: flex;
    justify-content: space-around;
}




/*
.buttons {
    padding: 10px;
}

.container-button {
    margin: 0 auto;
}

.row-button {
    display: flex;
    justify-content: right;
    flex-wrap: nowrap;
}

.white-button {
    flex-basis: calc((100% / 12) * 5);
}

.black-button {
    flex-basis: calc((100% / 12) * 7);

}

.button-white-sm > a {
    font-size: 14px;
    background-color: white;
    border-radius: 18px;
    color: black;
    padding: 7px 16px;
}

.button-white-lg {
    font-size: 16px;
    background-color: white;
    border-radius: 18px;
    color: black;
    padding: 7px 16px;
}

.button-black-lg > a {
    font-size: 16px;
    background-color: #23272A;
    border-radius: 18px;
    color: white;
    padding: 7px 16px;
    flex-basis: calc((100% / 12) * 4);
}

.container-button {
    display: flex;
}
*/