* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Open Sans', sans-serif;

}

/* HEADER */
.page-header {
    background-color: #255EE9;
    padding: 10px;
    font-weight: 700 italic;
}

.page-header [class^='col'] {
    display: flex;
    align-items: center;
    font-weight: 700 italic;
}



/* HEADER */



/* MAIN */

/*section header, 1, 5*/

main section {
    padding: 20px;

}

main .col-4 {
    display: flex;
    text-align: left;
    align-items: center;
    flex-wrap: wrap;
    color: black;
    font-size: 20px;
    padding: 20px;
}

.col-12>h1 {
    text-align: center;
    color: white;
    font-size: 35px;
}

.col-12-2>h1 {
    text-align: center;
    color: black;
    font-size: 35px;
}

.hero {
    background-image: url(../img/jumbo.png);
    background-attachment: fixed;
    background-size: cover;
}

.col-12 {
    flex-basis: calc((100% / 12) * 12);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.buttons {
    padding: 10px;
    align-items: center;
}

.title-section-links {
    display: flex;
    padding: 10px;
    font-weight: 700 italic;
}

.navbar-link {
    border: 1px solid transparent;
}

a {
    color: white;
    border: 1px solid transparent;
    text-decoration: none;
    font-size: 15px;
}

.navbar-link:hover {
    border-bottom: 2px solid white;
    transition: 0.2s;
}

.button-white-sm {
    background-color: white;
    padding: 5px 10px;
    border-radius: 25px;
    cursor: pointer;
}

.button-white-sm:hover {
    color: #255EE9;
    box-shadow: 0px 5px 5px -5px black;
    transition: 0.2s;
}

.button-white-sm>a {
    color: black;
}


.button-white-lg {
    text-align: center;
    font-size: 11px;
    background-color: white;
    border-radius: 18px;
    color: black;
    padding: 5px;
    flex-basis: calc((100% / 12) * 4);
}

.button-black-lg {
    text-align: center;
    font-size: 10px;
    background-color: #23272A;
    border-radius: 18px;
    color: white;
    padding: 5px;
    flex-basis: calc((100% / 12) * 6);
}

.button-black-lg>a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.button-white-lg>a {
    color: black;
    text-decoration: none;
    font-size: 15px;
}

#bottom-button {
    color: white;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    background-color: #2835BD;
    border-radius: 18px;
    padding: 10px 20px;
    margin-top: 30px;
}


/*section header, 1, 5*/

/*section 2, 3, 4,*/
.col-8 {
    flex-basis: calc((100% / 12) * 8);
}

.col-4 {
    flex-basis: calc((100% / 12) * 4);
}

/*section 2, 3, 4,*/

/*section 3*/
.bg-gray {
    background-color: #F6F6F6;
}

.row-reverse {
    flex-direction: row-reverse;
    display: flex;
    flex: wrap;
}

.img-big {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80%;
}


/*section 3*/

/* MAIN */



/* FOOTER */

footer [class^='col-'] {
    min-height: 200px;
    padding: 20px;
}

.page-footer {
    background-color: #23272a;
    color: white;
    padding: 70px 0;
}

.widget__title {
    color: #7289da;
    font-weight: 700;
    margin-bottom: 16px;
    font-size: 25px;
}

.widget__title.small-text {
    font-size: 15px;
}

.widget__menu {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.widget__menu .menu__item>a {
    display: inline-block;
    line-height: 28px;
}

.social-link {
    display: flex;
    gap: 12px;
    align-items: center;
    margin-top: 1.5em;

}

.social-link .social {
    line-height: 24px;
    width: 24px;
    border-radius: 50%;
    text-align: center;
    background-color: white;
    color: black;
}

.lang-select {
    padding: 3px 0 3px 45px;
    display: block;
    background-image: url('../img/ita.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 14px;
}

select {
    background-color: transparent;
    border: none;
    color: currentColor;
}

.justify-between-bottom {
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid white;
    padding-top: 20px;
}

#bottom-button-footer {
    color: white;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    background-color: #2835BD;
    border-radius: 18px;
    padding: 10px 20px;
}

/* FOOTER */



/* GENERAL RULES */
.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.container-sm {
    max-width: 600px;
    margin: 0 auto;
}

.mid-section {
    color: black;
    margin: 0 auto;
    text-align: left;

}

.row {
    display: flex;
    flex: wrap;
    margin-top: 40px;
    margin-bottom: 40px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

ul {
    display: flex;
    list-style-type: none;
}

.social-link>li {
    margin-left: 0px;
}

.widget__menu>li {
    margin-left: 0px;
}

li {
    margin-left: 15px;
    margin-right: 15px;
}

.col-12>p {
    color: white;
    text-align: center;
    margin: 20px;
}

div>p {
    color: black;
    text-align: center;
    margin: 20px;
}

.row-sparkle {
    position: absolute;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
}

.language {
    cursor: pointer;
}


/* GENERAL RULES */